<div class="pagination">
    <div>
        {% if previous %}
            <a href="{{ previous }}">&larr; Previous</a>
        {% else %}
            <span class="disabled">&larr; Previous</span>
        {% endif %}
    </div>
    <div class="page-numbers">
        {% for page_link in page_links %}
            {% if page_link.number %}
                {% if page_link.is_current %}
                <span class="page-number current">{{ page_link.number }}</span>
                {% else %}
                <a class="page-number" href="{{ page_link.url }}">{{ page_link.number }}</a>
                {% endif %}
            {% else %}
                <span class="page-ellipsis">&hellip;</span>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if next %}
            <a href="{{ next }}">Next &rarr;</a>
        {% else %}
            <span class="disabled">Next &rarr;</span>
        {% endif %}
    </div>
</div>
